<simple-notifications></simple-notifications>
<div id="frame">
        <div id="sidepanel">
          <div id="profile">
            <div class="wrap">
              <img id="profile-img" [src]="contactSelected" class="online" alt="" />
              <p>{{user.nombre}} {{user.apellido}}</p>
              <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
              <div id="status-options">
                <ul>
                  <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                  <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                  <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                  <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                </ul>
              </div>
              <div id="expanded">
                
                <h3>Crear grupo</h3>
                <input name="twitter" placeholder="Nombre" type="text" [(ngModel)]="nameGroup" />
                <button (click)="saveGroup()" style="background-color: rgb(81, 211, 81);border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;" class="btn btn-success">Guardar</button>

                <div style="overflow-y: scroll;height: auto;width: 300px;float: left; ">
                    <ul style="height: auto;">

                      <li style="list-style-type: none;padding-bottom: 10px;margin-bottom: 20px;bottom: 20px; height: auto;" class="contact" *ngFor="let user of users">
                          <div class="" style="width:500px">
                              <label style="display: inline-block;" class="container">
                                  <input id="checkeduser" (change)="selectUserToGroup(user,$event)" type="checkbox" >
                                  <span class="checkmark"></span>
                              </label>
                              <span class="contact-status online"></span>
                              <img src="{{server}}{{user.foto?user.foto:'user'}}.jpg" alt="" />
                              <div class="meta">
                                <p class="name">{{user.nombre}} {{user.apellido}}</p>
                                <p class="preview"></p>
                              </div>
                              
                            </div>
 
                      </li>
                                        
                      </ul>
                </div>
                
                <!--
                  <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
                <input name="twitter" type="text" value="ross81" />
                <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
                <input name="twitter" type="text" value="mike.ross" />
              -->
              </div>
            </div>
          </div>
          <div id="search">
            <label (ngModel)="idfake" for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Buscar" />
          </div>

          <div id="contacts">
              <h2>Usuarios</h2>
            <ul style="list-style-type: none;">
              <li id="user_{{user.id}}" *ngFor="let user of users" (click)="selectContact(user)" class="contact">
                <div class="wrap">
                  <span [ngClass]="{'contact-status online':user.conectado == true,'contact-status':1 == 1}"></span>
                  <img src="{{server}}{{user.foto?user.foto:'user'}}.jpg" alt="" />
                  <div class="meta">
                    <p class="name">{{user.nombre}} {{user.apellido}}</p>
                    <p class="preview"></p>
                  </div>
                </div>
              </li>
        
            </ul>
            <h2>Grupos</h2>
            <ul style="list-style-type: none;">
              <li id="grupo_{{grupo.id}}" *ngFor="let grupo of groups" (click)="selectGroup(grupo)" class="contact">
                <div class="wrap">
                  <span></span>
                  <img src="assets/team.png" onerror="assets/team.png" alt="" />
                  <div class="meta">
                    <p class="name">{{grupo.nombre}}</p>
                    <p class="preview"></p>
                  </div>
                </div>
              </li>
        
            </ul>


          </div>

          
          <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Crear grupo</span></button>
            <button (click)="logout()" id="settings"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> <span>Salir</span></button>
          </div>
        </div>
        
        <div class="content">
          <div class="contact-profile">
            <img *ngIf="userSelected" src='{{server}}{{userSelected.foto?userSelected.foto:"user"}}.jpg' alt=""/>
            <p *ngIf="userSelected" ><strong>{{userSelected.nombre}}{{userSelected.apellido}}</strong></p>
            <div class="social-media">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
               <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </div>
           
          <div class="messages">
            <h2 class="text-center" *ngIf="!userSelected && !groupSelected">Selecciona un usuario de tu lista para chatear</h2>
            <ul *ngIf="userSelected || groupSelected">

              <li *ngFor="let mensaje of conversacion" [ngClass]="{sent: mensaje.from == user.id,replies:mensaje.from != user.id}">
                <img *ngIf="!groupSelected" src="{{server}}{{mensaje.foto}}.jpg" alt="" />   
                <p>
                  <strong style="margin: 0" *ngIf="groupSelected">{{mensaje.nombre}}</strong>
                  <br>
                  {{mensaje.mensaje}}
                </p>

              </li>
            </ul>
          </div>
          <div class="message-input">
            <div class="wrap">
            <input [(ngModel)]="mensaje" (onSubmit)="sendMessage()" (keyup.enter)="sendMessage()" type="text" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button (click)="sendMessage()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
        
      </div>
      
      